.popup {
    text-align: center;
    width: 880px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__close-button {
    position: absolute;
    top: 160px;
    right: 170px;
    border: none;
    background: transparent;
    color: #333;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.8;
}

.popup__container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 430px;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 4%;
}

/* Estilo especial para el popup de imagen */
.popup__container-image {
    top: 20%;
    background-color: transparent;
}

.popup__content-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 25px;
    font-family: "Inter-Regular";
    font-size: 14px;
    color: #000000;
}

.popup__title {
    font-size: 20px;
    font-family: "Inter-Black";
}

.popup__button-save {
    background-color: rgb(0, 0, 0);
    height: 50px;
    color: white;
    border: none;
    border-radius: 2px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .popup {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        box-sizing: border-box;
    }

    .popup__container {
        min-width: 310px;
        position: relative;
        max-width: 400px;
        height: auto;
        top: auto;
        left: auto;
        transform: none;
        border-radius: 8px;
        padding: 20px;
        box-sizing: border-box;
    }

    .popup__content-fieldset {
        min-width: 60px;
        max-width: 90vw;
    }

    .popup__close-button {
        top: 170px;
        right: 5px;
        font-size: 20px;
    }

    .popup__container-image {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }
}